*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border-color: #fff;
    color: #000;
}
.background_button{
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    display: flex;
    gap: 10px;
    position:fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    box-shadow: 14px 21px 97px -20px rgba(34, 60, 80, 0.2);
}   
.background_button button{
    padding: 10px;
}